* {
  --sb-track-color: transparent;
  --sb-thumb-color: transparent;
  --sb-size: 0px;
}

*::-webkit-scrollbar {
  width: var(--sb-size);
}

html {
  -webkit-tap-highlight-color: transparent;
}

*::-webkit-scrollbar-track {
  background: var(--sb-track-color);
  border-radius: 0px;
}

*::-webkit-scrollbar-thumb {
  background: var(--sb-thumb-color);
  border-radius: 0px;
}

@supports not selector(::-webkit-scrollbar) {
  * {
    scrollbar-color: var(--sb-thumb-color) var(--sb-track-color);
  }
}

#resume {
  line-height: 1.5;
  text-align: left;
  padding: 0;
  margin: 0;
}
